option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    DefaultProcess: https
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:423577423344:certificate/30c7e81b-2c6e-42fc-9d5a-d8777716e769
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS