#commands:
#  command block:
#    command: |
#      cd /var/www/html
#      php artisan storage:link
#      sudo snap install core
#      sudo snap refresh core
#      sudo snap install --classic certbot --non-interactive --email mobashirmonim@gmail.com --agree-tos --standalone --domains ${bracu.busso.eveneer.xyz} --keep-until-expiring --pre-hook \"service nginx stop\"
#      sudo ln -s /snap/bin/certbot /usr/bin/certbot
#      sudo certbot --nginx