option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    DefaultProcess: https
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:423577423344:certificate/a301c484-2757-437c-9678-d58b4592f494
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS